<div class="container-fluid">
    <div style="height: 60px;"></div>
    <div class="container">
        <div style="width: 80%; margin: auto;">
            <h3 class="text-center">FAQ's</h3>

            <div class="row justify-content-center mt-5">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">01</span>
                </div>
                <div class="col-10">
                    <p class=" " (click)="showF=!showF" style="font-size: 20px;  font-weight: bold;">
                        Why should I use slick estimates? <span style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
                <div *ngIf="showF">

                    <p style="padding-left: 11%; line-height: 8px;">1. To avoid the hassle of traveling</p>
                    <p style="padding-left: 11%; line-height: 8px;">2. You will close the job before anyone else</p>
                    <p style="padding-left: 11%; line-height: 8px;">3. Prepare for your next job with ease (All the
                        tools
                        you
                        need in one place).</p>
                </div>
            </div>
            <div class="row justify-content-center " style="height: 60px; vertical-align: auto;">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">02</span>
                </div>
                <div class="col-10">
                    <p class=" " style="font-size: 20px;  font-weight: bold;">
                        How much does it cost? <span style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row justify-content-center " style="height: 60px; vertical-align: auto;">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">02</span>
                </div>
                <div class="col-10">
                    <p class=" " style="font-size: 20px;  font-weight: bold;">
                        Does the customer need to download any software? <span
                            style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>

            </div>
            <div class="row justify-content-center " style="height: 60px; vertical-align: auto;">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">04</span>
                </div>
                <div class="col-10">
                    <p class=" " style="font-size: 20px;  font-weight: bold;">
                        Can I use it on my smartphone? <span style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row justify-content-center " style="height: 60px; vertical-align: auto;">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">04</span>
                </div>
                <div class="col-10">
                    <p class=" " style="font-size: 20px;  font-weight: bold;">
                        Can I use my logo? <span style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row justify-content-center " style="height: 60px; vertical-align: auto;">
                <div class="col-1">
                    <span style="color: lightgray; font-size: 15; padding-right: 10px;">04</span>
                </div>
                <div class="col-10">
                    <p class=" " style="font-size: 20px;  font-weight: bold;">
                        Who do I reach out to if I have any issues? <span
                            style="text-align: end; padding-left: 200px;"></span>
                    </p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>


    </div>