<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="pt-3"></div>
    <div class=" pl-5 row">
        <div style="width: 85%; " class="d-inline">
            <img src="assets/images/Slick (1).png" style=" height: 20px;" alt="">
            <p style="font-size: 12px; color: lightgray;"> &nbsp; &nbsp;
                &nbsp; estimate <br>
                © 2022 Slick Estimate</p>
        </div>
        <div style="width: 15%;" class="d-inline mr-auto">
            <!-- <img src="assets/images/Slick (1).png" alt=""> -->
            <p style="font-size: 12px; color: lightgray;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; Contact <br>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;YouTube <br>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                Privacy Policy</p>
        </div>
    </div>
    <!-- Copyright -->

</footer>