<!-- bootstrap css cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- fontawesome cdn -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-navber></app-navber>
<div class="container-fluid" style="width: 100%;">


  <div>
    <img src="assets/images/header.png" style="width: 100%;" class="img-fluid" alt="Responsive image">
  </div>
  <div class="container-fluid">
    <p style="font-size: 40px; font-weight: bolder; text-align: center;">
      <span class="text-success"> Enhance </span>your Business <br> by simplifying your estimate
    </p>
  </div>

  <app-main></app-main>

  <app-sec-main></app-sec-main>

  <app-faq></app-faq>
  <app-next-gaq></app-next-gaq>

</div>
<app-footer></app-footer>