<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <div class="pl-5" style="padding-left: 20px; color: green;"></div> -->
    <a class="navbar-brand font-italic" style="padding-left: 20px; color: green; font-weight: bolder;" href="#"> <h3>Slick</h3>
        <!-- <img src="assets/images/SLICK-removebg-preview.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#">Login<span class="sr-only"></span></a>
        <a class="nav-item nav-link active text-success" href="#">Join</a>
      </div>
    </div>
  </nav>