<div class="container">
    <div style="height: 30px;"></div>
    <div class="row">
        <p style="font-size: 40px; font-weight: bold; line-height: 30px; text-align: center;">We bring the job to your
            fingertips </p>
        <p style="line-height: 20px; text-align: center;">SLICK estimates allows you to accomplish more
            in less time! </p>

        <div class="row justify-content-center mt-4">

            <button type="button" class="btn btn-success"
                style="width: 249px; height: 56px; justify-content:center ; background-color: #00754A;">Create free
                account
            </button>
            <p style="font-size: 12px; text-align: center;">326 companies signed up last month</p>
        </div>
    </div>
</div>