<div class="row justify-content-center m-5" style="padding-top: 20px;">
    <h3 class="text-center">Watch SLICK estimate in action</h3>
    <img src="assets/images/unsplash_2EJCSULRwC8.png" style="width: 500px; height: 300px;" alt="">
</div>
<div class="container-fluid" style="background-color: #FAFBFC;">
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="my-3 m-5 px-4">
            <h3 class="text-center">User's FeedBAck</h3>

            <div class="row mt-5">
                <div class="col-5 pt-2 ml-4" style="background: #FFFFFF;
            box-shadow: 0px 36px 85px rgba(65, 65, 65, 0.0254763), 0px 16.1618px 24.3184px rgba(65, 65, 65, 0.0300436), 0px 6.19898px 9.20364px rgba(65, 65, 65, 0.0303753), 0px 1.24464px 2.5913px rgba(65, 65, 65, 0.06);
            border-radius: 10px;">
                    <p class="text-center">Easy to use, i was able to start using your <br>platform with very little
                        computer knowladeg <br>
                        Mark Hanse </p>
                </div>
                <div class="col-5 pt-2 ml-4" style="background: #FFFFFF;
            box-shadow: 0px 36px 85px rgba(65, 65, 65, 0.0254763), 0px 16.1618px 24.3184px rgba(65, 65, 65, 0.0300436), 0px 6.19898px 9.20364px rgba(65, 65, 65, 0.0303753), 0px 1.24464px 2.5913px rgba(65, 65, 65, 0.06);
            border-radius: 10px;">
                    <p class="text-center">Easy to use, i was able to start using your <br>platform with very little
                        computer knowladeg <br>
                        Mark Hanse </p>
                </div>
            </div>
            <div class="row my-5 ">
                <div class="col-5 pt-2 ml-4" style="background: #FFFFFF;
            box-shadow: 0px 36px 85px rgba(65, 65, 65, 0.0254763), 0px 16.1618px 24.3184px rgba(65, 65, 65, 0.0300436), 0px 6.19898px 9.20364px rgba(65, 65, 65, 0.0303753), 0px 1.24464px 2.5913px rgba(65, 65, 65, 0.06);
            border-radius: 10px;">
                    <p class="text-center">Easy to use, i was able to start using your <br>platform with very little
                        computer knowladeg <br>
                        Mark Hanse </p>
                </div>
                <div class="col-5 pt-2 ml-4" style="background: #FFFFFF; box-shadow: 0px 36px 85px rgba(65, 65, 65, 0.0254763), 0px 16.1618px 24.3184px rgba(65, 65, 65, 0.0300436), 0px 6.19898px 9.20364px rgba(65, 65, 65, 0.0303753), 0px 1.24464px 2.5913px rgba(65, 65, 65, 0.06);
            border-radius: 10px;
            ">
                    <p class="text-center">Easy to use, i was able to start using your <br>platform with very little
                        computer knowladeg <br>
                        Mark Hanse </p>
                </div>
            </div>

        </div>
    </div>
    <div style="height: 20px;"></div>
</div>